//#include <dt-bindings/zmk/mouse.h>

#include <behaviors/rgbled_widget.dtsi>
#include <behaviors/naginata.dtsi>
#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define WIN_BASE   0
#define MAC_BASE   1
#define IPAD_BASE  2
#define MOUSE      3
#define LOWER      4
#define RAISE      5
#define ADJUST     6

// スクロール量の設定

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100

// マウスレイヤーに留まる設定

&mkp_input_listener { input-processors = <&zip_temp_layer MOUSE 250>; };

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <LOWER RAISE>;
            then-layer = <ADJUST>;
        };
    };
};

/ {
    behaviors {
        // スクロール用のbehaviorの設定

        scroll_down_up: behavior_sensor_rotate_mouse_wheel_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

            tap-ms = <20>; // スクロールのタップ時間
        };

        //        td0: tap_dance_0 {
        //            compatible = "zmk,behavior-tap-dance";
        //            #binding-cells = <0>;
        //            tapping-term-ms = <200>;
        //            bindings = <&mt LALT LANG2>, <&mo RAISE>, <&mo MOUSE>;
        //        };
        //        td1: tap_dance_1 {
        //            compatible = "zmk,behavior-tap-dance";
        //            #binding-cells = <0>;
        //            tapping-term-ms = <200>;
        //            bindings = <&mt RCTRL LANG1>, <&mo RAISE>, <&mo MOUSE>;
        //        };
        // Customed Hold-Tap for SandS

        SandS: SandS {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-unless-interrupted";
            tapping-term-ms = <500>;
            quick-tap-ms = <500>;
            bindings = <&kp>, <&kp>;

            display-name = "SandS";
        };

        // Ref: https://zenn.dev/shakupan/articles/261ce435251607

        tog_on: toggle_layer_on_only {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer On";
            toggle-mode = "on";
        };

        tog_off: toggle_layer_off_only {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer Off";
            toggle-mode = "off";
        };
    };
};

/ {
    macros {
        bt0: bt0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&tog_off MAC_BASE &tog_off IPAD_BASE>,
                <&macro_wait_time 200>,
                <&bt BT_SEL 0>,
                <&macro_wait_time 500>;

            label = "BT0";
            wait-ms = <200>;
        };

        bt1: bt1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&tog_off MAC_BASE &tog_off IPAD_BASE>,
                <&macro_wait_time 200>,
                <&bt BT_SEL 1>,
                <&macro_wait_time 500>,
                <&tog_on MAC_BASE>;

            label = "BT1";
            wait-ms = <200>;
        };

        bt2: bt2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&tog_off MAC_BASE &tog_off IPAD_BASE>,
                <&macro_wait_time 200>,
                <&bt BT_SEL 2>,
                <&macro_wait_time 500>,
                <&tog_on IPAD_BASE>;

            label = "BT2";
            wait-ms = <200>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        select_bt0 {
            bindings = <&bt0>;
            key-positions = <17 18 19 20>;
            layers = <0 1 2>;
        };

        select_bt1 {
            bindings = <&bt1>;
            key-positions = <33 34 35 36>;
            layers = <0 2 1>;
        };

        select_bt2 {
            bindings = <&bt2>;
            key-positions = <51 52 53 54>;
            layers = <0 2 1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /* ---------------- Base layer ---------------- */

        win_base {
            display-name = "Windows Base";
            sensor-bindings = <&scroll_down_up>;
            bindings = <
&kp GRAVE  &kp N1      &kp N2  &kp N3    &kp N4        &kp N5                                 &kp KP_N7     &kp KP_N8  &kp KP_N9   &kp KP_DIVIDE                         &kp NUMBER_6  &kp N7  &kp N8     &kp N9   &kp N0    &kp MINUS
&kp TAB    &kp Q       &kp W   &kp E     &kp R         &kp T                                  &kp KP_N4     &kp KP_N5  &kp KP_N6   &kp KP_MULTIPLY                       &kp Y         &kp U   &kp I      &kp O    &kp P     &kp EQUAL
&kp CAPS   &kp A       &kp S   &kp D     &kp F         &kp G                    &kp INS       &kp KP_N1     &kp KP_N2  &kp KP_N3   &kp KP_MINUS       &kp RIGHT_BRACKET  &kp H         &kp J   &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z       &kp X   &kp C     &kp V         &kp B                    &kp DELETE    &kp KP_ENTER  &kp KP_N0  &kp KP_DOT  &kp KP_PLUS        &kp BACKSLASH      &kp N         &kp M   &kp COMMA  &kp DOT  &kp FSLH  &lt LOWER BACKSLASH
&kp LCTRL  &kp C_MUTE          &kp LWIN  &kp LEFT_ALT  &SandS LEFT_SHIFT SPACE  &mo LOWER                                                             &lt RAISE RET      &kp BSPC                                            &kp RCTRL
            >;
        };

        mac_base {
            display-name = "Mac Base";
            sensor-bindings = <&scroll_down_up>;
            bindings = <
&kp GRAVE         &kp N1      &kp N2  &kp N3            &kp N4        &kp N5                                 &kp KP_N7     &kp KP_N8  &kp KP_N9   &kp KP_DIVIDE                         &kp NUMBER_6  &kp N7  &kp N8     &kp N9   &kp N0    &kp MINUS
&kp TAB           &kp Q       &kp W   &kp E             &kp R         &kp T                                  &kp KP_N4     &kp KP_N5  &kp KP_N6   &kp KP_MULTIPLY                       &kp Y         &kp U   &kp I      &kp O    &kp P     &kp EQUAL
&kp CAPS          &kp A       &kp S   &kp D             &kp F         &kp G                    &kp INS       &kp KP_N1     &kp KP_N2  &kp KP_N3   &kp KP_MINUS       &kp RIGHT_BRACKET  &kp H         &kp J   &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT         &kp Z       &kp X   &kp C             &kp V         &kp B                    &kp DELETE    &kp KP_ENTER  &kp KP_N0  &kp KP_DOT  &kp KP_PLUS        &kp BACKSLASH      &kp N         &kp M   &kp COMMA  &kp DOT  &kp FSLH  &lt LOWER BACKSLASH
&kp LEFT_COMMAND  &kp C_MUTE          &kp LEFT_CONTROL  &kp LEFT_ALT  &SandS LEFT_SHIFT SPACE  &mo LOWER                                                             &lt RAISE RET      &kp BSPC                                            &kp RCTRL
            >;
        };

        ipad_base {
            display-name = "iPad Base";
            sensor-bindings = <&scroll_down_up>;
            bindings = <
&kp GRAVE         &kp N1      &kp N2  &kp N3            &kp N4        &kp N5                                 &kp KP_N7     &kp KP_N8  &kp KP_N9   &kp KP_DIVIDE                         &kp NUMBER_6  &kp N7  &kp N8     &kp N9   &kp N0    &kp MINUS
&kp TAB           &kp Q       &kp W   &kp E             &kp R         &kp T                                  &kp KP_N4     &kp KP_N5  &kp KP_N6   &kp KP_MULTIPLY                       &kp Y         &kp U   &kp I      &kp O    &kp P     &kp EQUAL
&kp CAPS          &kp A       &kp S   &kp D             &kp F         &kp G                    &kp INS       &kp KP_N1     &kp KP_N2  &kp KP_N3   &kp KP_MINUS       &kp RIGHT_BRACKET  &kp H         &kp J   &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT         &kp Z       &kp X   &kp C             &kp V         &kp B                    &kp DELETE    &kp KP_ENTER  &kp KP_N0  &kp KP_DOT  &kp KP_PLUS        &kp BACKSLASH      &kp N         &kp M   &kp COMMA  &kp DOT  &kp FSLH  &lt LOWER BACKSLASH
&kp LEFT_COMMAND  &kp C_MUTE          &kp LEFT_CONTROL  &kp LEFT_ALT  &SandS LEFT_SHIFT SPACE  &mo LOWER                                                             &lt RAISE RET      &kp BSPC                                            &kp RCTRL
            >;
        };

        mouse_layer {
            display-name = "Mouse";
            sensor-bindings = <&scroll_down_up>;
            bindings = <
&kp ESC     &kp N1  &kp N2     &kp N3     &kp N4     &kp N5                             &trans  &trans  &trans  &trans                     &kp N6          &kp N7     &kp N8     &kp N9      &kp N0         &kp MINUS
&kp TAB     &kp Q   &kp W      &kp E      &kp R      &kp T                              &trans  &trans  &trans  &trans                     &kp Y           &kp U      &kp I      &kp O       &kp P          &kp EQUAL
&kp CAPS    &kp A   &mkp RCLK  &mkp MCLK  &mkp LCLK  &msc SCRL_UP    &msc SCRL_LEFT     &trans  &trans  &trans  &trans    &msc SCRL_LEFT   &msc SCRL_UP    &mkp LCLK  &mkp MCLK  &mkp RCLK   &kp SEMICOLON  &kp SINGLE_QUOTE
&kp LSHIFT  &kp Z   &kp X      &mkp MB4   &mkp MB5   &msc SCRL_DOWN  &msc SCRL_RIGHT    &trans  &trans  &trans  &trans    &msc SCRL_RIGHT  &msc SCRL_DOWN  &mkp MB4   &mkp MB5   &kp PERIOD  &kp SLASH      &lt LOWER BACKSLASH
&trans      &trans             &trans     &trans     &trans          &trans                                               &trans           &trans                                                           &trans
            >;
        };

        /* ---------------- Lower layer ---------------- */

        lower_layer {
            display-name = "Lower Layer";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            bindings = <
&kp ESC  &kp F1     &kp F2    &kp F3    &kp F4     &kp F5                 &kp KP_NUMLOCK  &trans  &trans  &trans            &kp F6        &kp F7   &kp F8           &kp F9          &kp F10          &kp INT_YEN
&trans   &trans     &trans    &trans    &trans     &trans                 &trans          &trans  &trans  &trans            &kp F11       &kp F12  &kp PRINTSCREEN  &kp SCROLLLOCK  &kp PAUSE_BREAK  &kp LEFT_BRACKET
&trans   &trans     &trans    &kp UP    &trans     &kp HOME  &kp PG_UP    &trans          &trans  &trans  &trans    &trans  &kp C_VOL_UP  &trans   &trans           &trans          &trans           &kp INTERNATIONAL_1
&trans   &trans     &kp LEFT  &kp DOWN  &kp RIGHT  &kp END   &kp PG_DN    &trans          &trans  &trans  &trans    &trans  &kp C_VOL_DN  &trans   &trans           &trans          &trans           &trans
&trans   &kp RSHFT            &trans    &trans     &trans    &trans                                                 &trans  &kp DEL                                                                  &trans
            >;
        };

        /* ---------------- Raise layer ---------------- */

        raise_layer {
            display-name = "Raise Layer";
            sensor-bindings = <&inc_dec_kp RIGHT LEFT>;
            bindings = <
&trans  &none  &none  &none                &none                &none                              &trans  &trans  &trans  &trans               &none     &none     &none     &none      &none  &none
&trans  &none  &none  &none                &none                &none                              &trans  &trans  &trans  &trans               &none     &none     &none     &none      &none  &none
&trans  &none  &none  &mkp RCLK            &mkp LCLK            &msc SCRL_UP    &msc SCRL_LEFT     &trans  &trans  &trans  &trans    &kp PG_UP  &kp HOME  &none     &kp UP    &none      &none  &none
&trans  &none  &none  &mkp MB4             &mkp MB5             &msc SCRL_DOWN  &msc SCRL_RIGHT    &trans  &trans  &trans  &trans    &kp PG_DN  &kp END   &kp LEFT  &kp DOWN  &kp RIGHT  &none  &none
&trans  &none         &kp INTERNATIONAL_5  &kp INTERNATIONAL_4  &trans          &trans                                               &trans     &kp DEL                                         &none
            >;
        };

        adjust_layer {
            display-name = "Adjust";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            bindings = <
&trans  &bt0        &bt1   &bt2    &bt BT_SEL 3  &bt BT_SEL 4            &trans  &trans  &trans  &trans              &bt BT_CLR_ALL  &none  &none  &none  &none  &none
&trans  &none       &none  &none   &none         &none                   &trans  &trans  &trans  &trans              &bt BT_CLR      &none  &none  &none  &none  &none
&trans  &none       &none  &none   &none         &none         &none     &trans  &trans  &trans  &trans    &ind_bat  &out OUT_TOG    &none  &none  &none  &none  &none
&trans  &none       &none  &none   &none         &none         &none     &trans  &trans  &trans  &trans    &ind_con  &studio_unlock  &none  &none  &none  &none  &none
&trans  &kp C_MUTE         &trans  &trans        &trans        &trans                                      &trans    &kp DEL                                     &trans
            >;
        };
    };
};
